node_modules/
*.log
client/node_modules
client/build
client/.gitignore
client/README.md
package-lock.json
public/*
!public/images

public/images/chat-images/*
public/images/demand-photos/*
public/images/profile-picture/*
public/images/profile-picture/100x100/*
